name: Release
on:
    workflow_dispatch:
permissions:
    id-token: write
    contents: write
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "24.x"
                  registry-url: "https://registry.npmjs.org"
            - run: npm ci
            - run: npm run build
            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  npm install -g npm@latest
                  npm config set access public
                  npm install --no-save "@forsakringskassan/semantic-release-config"
                  npm exec semantic-release
