name: Release
on:
    workflow_dispatch:
        inputs:
            version:
                description: "npm version (patch/minor/major)"
                required: true
                default: ""
permissions:
    id-token: write
    contents: write
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: "22.x"
                  registry-url: "https://registry.npmjs.org"
            - run: npm ci
            - run: npm run build
            - name: Release
              run: |
                  npm install -g npm@latest
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  npm version "${{ github.event.inputs.version }}"
                  npm publish
