name: Release
on:
    workflow_dispatch:
        inputs:
            version:
                description: "npm version (patch/minor/major)"
                required: true
                default: ""
permissions:
    id-token: write
    contents: write
jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  registry-url: "https://registry.npmjs.org"
            - run: npm ci
            - run: npm run build --if-present
            - run: npm test
            - run: git config --local user.email "action@github.com"
            - run: git config --local user.name "GitHub Action"
            - run: npm version "${{ github.event.inputs.version }}"
            - run: npm publish
